<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Car Details</title>
</head>
<body>
    <h1>Car Details</h1>
    {% for i in data %}
        <p>Name: {{ i.name }}</p>
        <p>image: {{ i.image.url }}</p>
        <p>detail: {{ i.details }}</p>
        <p>price: {{ i.price}}</p>
        <p>carmodel: {{ i.car_model}}</p>
    {% endfor %}
</body>
</html>
