<!-- user_detail.html -->
<!DOCTYPE html>
<html>
<head>
    <title>User Details</title>
</head>
<body>
    <h1>User Details</h1>

    <p><strong>Username:</strong> {{ data.username }}</p>
    <p><strong>Email:</strong> {{ data.email }}</p>
    <p><strong>Email:</strong> {{ data.company_name }}</p>
    <p><strong>Email:</strong> {{ data.company_address }}</p>
    <p><strong>Email:</strong> {{ data.phone }}</p>
    <p><strong>Email:</strong> {{ data.loaction }}</p>
    <!-- Add more fields as needed -->
</body>
</html>
